

html{overflow-y:scroll; overflow-x:hidden;}
html, body{margin:0; padding:0; font-size:14px; line-height:1.6em;}


.nospace{margin:0; padding:0; list-style:none;}


.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}


.btn{display:inline-block; padding:15px 25px 17px; text-transform:uppercase; border:1px solid;}


.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left {float:left;}
.fl_right {float:right;}

/* Fonts
--------------------------------------------------------------------------------------------------------------- */
body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}
h1, h2, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}


/* Generalise
--------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal; text-transform:uppercase;}
.heading.nospace{margin:0;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}


.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hoc{display:block; margin:0 auto;}





.row0{border-top:1px solid;}



#topbar{padding:15px 0; font-size:.8rem; text-transform:uppercase;}

#topbar *{margin:0;}
#topbar ul li{display:inline-block; margin-right:10px; padding-right:15px; border-right:1px solid;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{margin:0 5px 0 0; line-height:normal;}

#header #logo{margin-top:25px;}
#header #logo *{margin:0; padding:0; line-height:1;}
#header #logo h1{font-size:32px; font-variant:small-caps;}



#pageintro{padding:150px 0;}




/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */

#mainav ul.clear{margin-top:3px;}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}






/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#7F7F7F; background-image: url("background.jpg"); background-size: 100%;}
a{color:#D01818;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
 
label span{color:#FF0000; background-color:inherit;}
input:focus, textarea:focus, *:required:focus{border-color:#D01818;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; 
}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#D01818; border-color:#D01818;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row0, .row0 a{color:black;}
.row0{border-color:#D01818;}
.row1{color:#FFFFFF; background-color:rgba(37,37,37,.5);/* #252525 */}
.row2{color:#141414; background-color:#F3F3F3;}



/* Top Bar */
#topbar ul li{border-color:rgba(255,255,255,.2);}
#topbar div:first-of-type li:first-child a{color:#D01818;}


/* Header */
#header #logo h1 a{color:inherit; background-color:inherit;}



/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{ background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(37,37,37,.5);/* #252525 */ border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#D01818;}
#mainav form select{color:#FFFFFF; background-color:#141414;}



.container  nav a{color:inherit; border-color:#D7D7D7;}
.container  nav a:hover{color:#D01818;}



/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}}



/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}
	



	#header{padding:30px 0;}
	#header #logo{margin:0;}

	
	#mainav ul{display:inline; }
	#mainav form{display:block; margin-top:5px;}

	
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}
	.footer{display: block; }

	
}



.div123{
	height: 100%;
	background-color: #0009;
	font-size: 200%;
	color: whitesmoke;
	margin-top: 1%;
	width: 80%;
	margin-left: 10%;
	border: none;
	border-radius: 25px;
	box-shadow: 10px 10px 5px rgb(3, 3, 3);
}
#marg{
	
	font-size: 80%;
	line-height: 10px;
	margin-left: 5%;
	width: 90%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	
	line-height: 170%;
}



#food{
	text-align: center;
	margin-top: 1%;
	font-size: 200%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	min-width:100%;
	
}
.div6{
	margin-top: 5%;
	background-color: #141414;
	text-align: center;

}

/*Footer*/
.footer{
	width: 100%;
	height: 350px;
	background-color: rgb(32, 32, 32);  
	margin-top: 2%;
	max-width: 100%;
  }
  .context1{
	color: white;
	text-align: left;
	padding-left: 30px;
   
  }
  .context{
	color: white;
	text-align: left;
	padding-left: 0px;
	
  
	
  }
  .main{
	  width: 80%;
  }

  .icons{
	  border-radius: 25px;width: 25px; height: 25px;
  }
  .menuimg{
	  margin-left: 10%;
	  margin-bottom: 10%;
  }

/*About Page*/

.wrapperr{
  margin-top: 50px;
}

.wrapperr h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #0009;
  margin: 20px;
  margin-bottom: 80px;
  width: 350px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 3px;
}

.contact-section{
	background-color: #0009;
	background-size: cover;
	padding: 40px 0;
  }
  .contact-section h1{
	text-align: center;
	color: #ddd;
  }

  /*Contact Form page */
  .border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
  }
  
  .contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
  }
  label{
	color: #ddd;
  }
  .contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
  }
  .contact-form-text:focus{
	box-shadow: 0 0 10px 4px #34495e;
  }
  
  .xyz :focus{
	box-shadow: 0 0 10px 4px #34495e;}
  textarea.contact-form-text{
	resize: none;
	height: 120px;
  }
  .contact-form-btn{
	float: right;
	border: 0;
	background: #880012;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
  }
  .contact-form-btn:hover{
	background: #2980b9;
  }
  
